{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
    用户列表
{% endblock %}

{% block content %}
    <h1>用户列表</h1>
    <div id="people-list">
        {% for user in users %}
            <div class="user">
                <a href="{{ user.get_absolute_url }}">
                    {% thumbnail user.profile.photo '180x180' as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                </a>
                <div class="info">
                    <a href="{{ user.get_absolute_url }}" class="title">
                        {{ user.username }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}