{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div id="header">
        <span class="logo">
            Cosmic_Site
        </span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
            <li {% if section == 'dashboard' %}
                class="selected"
            {% endif %}>
                <a href="{% url 'dashboard' %}">控制面板</a>
            </li>
            <li {% if section == 'images' %}
                class="selected"
            {% endif %}>
                <a href="{% url 'images:list' %}">图片</a>
            </li>
            <li {% if section == 'users' %}
                class="selected"
            {% endif %}>
                <a href="{% url 'user_list' %}">用户列表</a>
            </li>
        </ul>

        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                {{ request.user.username }}, <a href="{% url 'logout' %}">注销</a>
                {% else %}
                <a href="{% url 'login' %}">登录</a>
            {% endif %}
        </span>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}<a href="" class="close">X</a></li>
            {% endfor %}
        </ul>
    {% else %}
    {% endif %}


    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

{# DOM是Document object Model #}
{# 由浏览器加载页面时生成, 以树形结构保存在当前页面的所有节点数据, #}
{# 这样保证js代码执行时,操作的对象已经全部生成 #}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
    let csrftoken = Cookies.get('csrftoken');
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            xhr.setRequestHeader('X-CSRFToken', csrftoken);
        }
    });
    $(document).ready(function () {
        {% block domready %}
        {% endblock %}
    });
</script>
</body>
</html>